// $theme: #803838;
// $theme2: #f8e0a8;
// $theme3: #f0f0f0;
$theme5: #88c8;
$theme6: #88c8a8;

$theme4: #c0e0d0;
$theme: #e0e8f0;
$theme2: #d8d8f0;
$theme3: #182030;
$back1: #4860a8;
$back2: #506090;
